{{!-- TRANSACTION ONGOING MODAL --}}
<div class="modal fade" id="modal-loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info border-light">
                <h5 class="modal-title" style="color: white;" id="status-modal-header">
                    <strong>Processing Transaction</strong>
                </h5>
            </div>
            <div class="modal-body p-4 text-center">
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>