<!--navbar-->
    <nav class="navbar fixed-top navbar-dark bg-dark shadow-sm">
        <div class="container-fluid">
            <a class="nav-link text-light" href="/">Home</a>
            <a class="nav-link text-light" href="/devMenu">Search</a>
        </div>
    </nav>