{{!-- TRANSACTION SUCCESS MODAL --}}
<div class="modal fade" id="modal-success" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success border-light">
                <h5 class="modal-title" style="color: white;" id="status-modal-header"><strong>Transaction
                        Status</strong>
                </h5>
            </div>
            <div class="modal-body p-4">
                <div class="fw-normal text-center status-msg"></div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success okay-btn" href="/">Okay</a>
            </div>
        </div>
    </div>
</div>