<table class="table table-danger table-hover table-bordered table-striped border-dark border-2" id="movies-table">
    <thead class="table-dark">
        <tr>
            {{#each uniqueKeys}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>