<table class="table table-bordered border-dark" id="movies-table">
    <thead>
        <tr>
            {{#each uniqueKeys}}
            <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            {{#each this}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>