<html>
	<head>
		<title>Error!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="icon" href="./images/Daco_1445791.png" type="image/x-icon">   
	</head>

	<body style="background-color:#FFCDA3;" class="col-12 d-flex flex-column">
        <div class="d-flex flex-column justify-content-center" id="error-contents">
            <div class="col-12 p-5" id="error-texts">
                <h1 class="col-12 text-center fw-bolder" id="error-title">Oh no! Something went wrong...</h1>
                <p class="col-12 text-center fw-normal px-5">We apologize for the inconvenience. 
                    The page you are looking for might have been <strong>removed</strong> or <strong>never existed</strong>. </p>
            </div>
            <div class="col-12 movie-header" id="error-photo"> 
                <img src="../images/bg2.jpg" id="error-icon"/> 
            </div>

        </div>
	</body>
</html>