<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCO2: CRUD IMDB-js DB</title>
    </head>

    <body>
        <center><h1>MCO2: CRUD IMDB-JS DB</h1></center>
        <center>
            <h3>For Reading</h3>
            <!--Table were IMDB-js will show-->
            <table>
                <tr>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Ranking</th>
                    <th>Year</th>
                    <th>Actor Last Name</th>
                    <th>Actor First Name</th>
                    <th>Actor Gender</th>
                    <th>Director Last Name</th>
                    <th>Director First Name</th>
                    <th>For Updating</th>
                    <th>For Deleting</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
              </table>

              <h3>Search or Add (choose any or multiple fields)</h3>

              <form action="">
                <label for="Movie">Movie: </label>
                <input type="text" id="MovieName" name="MovieName" value="Name">
                <input type="text" id="Genre" name="Genre" value="Genre">
                <input type="text" id="Ranking" name="Ranking" value="Ranking">
                <input type="text" id="Year" name="Year" value="Year">
                <br>
                <br>
                <label for="Actor">Actor: </label>
                <input type="text" id="ActorLastName" name="ActorLastName" value="Last Name">
                <input type="text" id="ActorFirstName" name="ActorFirstName" value="First Name">
                <input type="text" id="ActorGender" name="ActorGender" value="Gender">
                <br>
                <br>
                <label for="Director">Director:</label>
                <input type="text" id="DirectorLastName" name="DirectorLastName" value="Last Name">
                <input type="text" id="DirectorFirstName" name="DirectorFirstName" value="First Name">
                <br>
                <br>
                <input type="submit" value="Submit">
                <input type="submit" value="Add">
              </form>
        </center>
    </body>
</html>