<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCO2: CRUD IMDB-js DB</title>
    </head>

    <body>
        <center><h1>MCO2: CRUD IMDB-JS DB</h1></center>
        <center>
            <h3>Searched Result/s</h3>
            <!--Table were IMDB-js will show-->
            <table>
                <tr>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Ranking</th>
                    <th>Year</th>
                    <th>Actor Last Name</th>
                    <th>Actor First Name</th>
                    <th>Actor Gender</th>
                    <th>Director Last Name</th>
                    <th>Director First Name</th>
                    <th>For Updating</th>
                    <th>For Deleting</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <form action="/update.html">
                            <input type="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form action="">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            </table>

            <br>

            <button type="button">Go back Home</button>

        </center>
    </body>
</html>