<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MCO2: CRUD IMDB-js DB</title>
    </head>

    <body>
        <center><h1>MCO2: CRUD IMDB-JS DB</h1></center>
        <center>
            <h3>For Updating</h3>
            <!--Table were IMDB-js will show-->
            <table>
                <tr>
                    <th>Movie Name</th>
                    <th>Genre</th>
                    <th>Ranking</th>
                    <th>Year</th>
                    <th>Actor Last Name</th>
                    <th>Actor First Name</th>
                    <th>Actor Gender</th>
                    <th>Director Last Name</th>
                    <th>Director First Name</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            
            <h3>New Information (choose any or multiple fields)</h3>

            <form action="">
                <input type="text" id="Genre" name="Genre" value="New Genre">
                <input type="text" id="Ranking" name="Ranking" value="New Ranking">
                <input type="text" id="ActorLastName" name="ActorLastName" value="New Actor Last Name">
                <input type="text" id="DirectorLastName" name="DirectorLastName" value="New Director Last Name">
                <input type="submit" value="Update">
            </form>

            <br>

            <button type="button">Go back Home</button>

        </center>
    </body>
</html>